<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="chat" href="/tabs/chat">
      <ion-icon aria-hidden="true" name="chatbubble"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="summarize" href="/tabs/summarize">
      <ion-icon aria-hidden="true" name="document-text"></ion-icon>
      <ion-label>Summarize</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="quiz" href="/tabs/quiz">
      <ion-icon aria-hidden="true" name="help-circle"></ion-icon>
      <ion-label>Quiz</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
